{% extends "app_templates/base.html" %}
{% block content %}
<h1>{{title}}</h1>
    <p>{{val}}</p>

    <table>
      <tr>
        <th>.objects.all()の表示</th>
      </tr>
    {% for i in hoge %}
    <tr>
      <th>{{i}}</th>
    </tr>
    {% endfor %}
  </table>

  <p>{{val2}}</p>

  <table>
    <tr>
      <th>.objects.values()の表示</th>
    </tr>
  {% for i2 in hoge %}
  <tr>
    <th>{{i2}}</th>
  </tr>
  {% endfor %}
</table>
  {% load static %}

  <script src="{% static 'app/js/hoge.js' %}"></script>
  <script src="{% static 'app/json/hoge.json' %}"></script>

{% endblock %}